
body{
  background-color: hsl(229, 57%, 11%);
  background-image: url("images/bg-desktop.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-attachment: fixed;
}

.container{
padding:150px 80px 0 80px;
}

.row{
  position:relative;
}

.left{
  background-color: hsl(228, 56%, 26%);
  border-radius: 10px 100px 10px 10px;
  padding:40px;
}

.miniCard{
  display: inline-block;
  padding:10px;
  background-color: hsl(229, 57%, 11%);
  border-radius: 10px;
  margin-top:30px;
  margin-right: 10px;
}

.right{
  background-color: hsl(228, 56%, 26%);
  border-radius: 10px;
  padding:40px;
  position: relative;
  bottom:-28px;
}

.cloud{
  position: absolute;
  background-color: white;
  top:-40px;
  padding:10px 20px;
  border-radius: 15px 15px 0 15px;
  right:40px;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-top: 20px solid white;
  position: absolute;
  right:40px;
  top:22px;
}

h2{
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

.gb{
  display: inline-block;
  color: grey;
  font-family: 'Raleway', sans-serif;
  font-weight:700;
}

span{
  font-family: 'Raleway', sans-serif;
  color:white;
  font-weight: 400;
  font-size: 12px;
}

input{
  display: block;
  margin-top: 20px;
  margin-bottom: 10px;
}

input[type="range"] {
  -webkit-appearance: none;
  background-color: hsl(229, 57%, 11%);
  height:15px;
  width: 100%;
  border-radius: 30px;
  cursor: pointer;
  outline: none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

#thumb{
  background-color: white;
  height: 10px;
  width: 10px;
  border-radius: 100%;
  z-index: 3;
  position: absolute;
  cursor: pointer;
  top:1px;
  right:2px;
}

.slider{position: relative;}

#progressBar{
  height: 12px;
  width: 75%;
  border-radius: 30px;
  background: linear-gradient(to right, hsl(6, 100%, 80%) , hsl(335, 100%, 65%));
  position: absolute;
  top: 1px;
  left:2px;
}

.rangeNumber{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (max-width:991px){
  body{
    background-image: url("images/bg-mobile.png");
    background-size: cover;
  }

  .container{
  padding:80px 40px 0 40px;
  }

  .cloud{
    top:140px;
    border-radius: 15px;
    margin-left: 80px;
    margin-right: 80px;
    left: 0;
    right: 0;
    text-align: center;
  }

  .arrow-down{
    display: none;
  }
}
